// COLOR
$color-text--default: #363636;
$color-text--link: #3273dc;
$color-icon-bg: #4a4a4a;
$color-icon-bg--link: #3273dc;
$color-state--online: #48c774;

// TRANSITION
$transition--default: .3s;

// ZINDEX
$z-toast: 11;
