// COLORS
$color-text-default: #333;
$color-text-hover: #888;
$color-text-active: #3273dc;

// TRANSITION
$transition-default: .3s;

// ZINDEX
$z-memo-list: 10;

// BREAKPOINT
$breakpoint-mobile: 768px;
$breakpoint-mobile-mf: $breakpoint-mobile + 1px;

$breakpoints: (
  'mb': 'screen and (min-width: #{$breakpoint-mobile})',
  'mb-mf': 'screen and (min-width: #{$breakpoint-mobile-mf})'
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
